/*Brits header part*/

/*Judy's addition to top left logo*/
#topLeft {
  border-style: none;
}

#topLeft p {
  display: inline-block;
  border-style: none;
  position: absolute;
  margin-top: 10px;
  padding: 0px;
  text-align: left;
  font-size: 15px;

}

#smallLogo {
  position: relative;
}

html {
  width: 100%;
  height: 100%;
}
body {
   width: 100%;
   height: 100%;
   background-color: white;

}

header {
    background-color: white;
    /*border-collapse: collapse;*/
    color: black;
    padding: 0px;
    font-size: 12px;
    display: block;
    text-align: left;
    /*border-style: inset;*/
    border-width: 5px;
}

section {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0px;
}
aside {
    width: 17%;
    display: inline-block;
    background-color:;
    padding:;
    min-height: 100%;
}
aside ul {
    list-style-type: none;
}

img {
    float: center;
    display: inline-block;
    padding: 10px;
}
h1 {
float: inherit;
}
p {
  font-size: 22;
  color: black;
  padding-left: 200px;
  padding-right: 200px;
}
span {
  border-bottom-style: ;
}

#logo {
  display: inline;
  float: right;
  padding: inherit;
}


/*Judy's CSS for bottom half*/

.recipe {
  border-style: none;
}

#recipeColumn1 {
  display: inline-block;

}

#recipeColumn2 {
  display: inline-block;
}

}

#recipeDiv {

  /*margin-left: 100px;*/
  /*background-image: url("img/lab-assets/list-bg.png");*/
  /*border-style: solid;*/

  /*margin-left: 100px;*
  /*border-style: solid;*/
  /*position: absolute;*/
  /*top: 500px;*/
}

#vanessa {
  position: absolute;
  float: right;
  margin-top: 5px;
}

h4 {
  position: relative;
  display: inline;
  margin-left: 100px;

}

#authorByline {
  border-top-style: solid;
  border-top-color: #D3D3D3;
  position: absolute;
}

#secondAuthorByline {
  margin-top: 30px;
}

#food {
  margin-left: 100px;
  margin-right: 600px;
  border-style: none;
  position: relative;

}

#shareButton {
  display: inline;
  margin-left: 800px;
  margin-bottom: 0px;
  margin-top: 0px;
  float: left;
  background-color: #FF7F50;
  font-size: 20px;
  text-align: center;
  color: white;
  padding:  20px 40px 20px 40px;
  position: relative;

}

#footer {
  display: block;
}

#logo {
  display: block;
  margin: auto auto auto auto;

}

footer p {
  text-align: center;
}

.item {
  /*background-image: url("../img/lab-assets/list-bg.png");*/
  postition: relative;
}
h3 {
  background-image: url('https://github.com/codefellows/seattle-201d11/blob/master/class-10-js_debugging-more_css_layout/lab/lab-assets/list-bg.png?raw=true');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

}
